{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-white" href="#">Dionysus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-between">
      {% url 'orders:list' as order_list %}
      {% url 'orders:add' as add_order %}
      <li class="nav-item {% if request.path == order_list %}active{% endif %}">
        <a class="nav-link" href="{{order_list}}">{% translate "All orders" %} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == add_order %}active{% endif %}">
        <a class="nav-link" href="{{add_order}}">{% translate "Add order" %}</a>
      </li>


      <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% translate "Other options" %}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">{% translate "Action" %}</a>
          <a class="dropdown-item" href="#">{% translate "Another action" %}</a>
        </div>
      </li>
    </ul>
    </ul>
  </div>
</nav>
